@import 'src/assets/design/media.scss';

.schedule {
	font-size: 2rem;
	font-weight: 700;
	margin-top: 50px;
	letter-spacing: 1px;
	a {
		text-decoration: none;
		color: white;
	}

	@include smallScreen {
		font-size: 1.25rem;
	}
}
