@import 'src/assets/design/media.scss';

.service {
	margin-bottom: 25px;
}

.serviceWrapper {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.serviceCounter {
	font-size: 1.5rem;
	font-weight: 700;
}

.serviceName {
	margin-left: 125px;
	font-size: 7.5rem;
	font-weight: 700;
	text-decoration: none;

	@include mediumScreen {
		font-size: 4rem;
		margin-left: 100px;
	}
	@include smallScreen {
		font-size: 2.5rem;
	}
	@include phoneScreen {
		margin-left: 30px;
	}
}
