@import 'src/assets/design/colors.scss';
@import 'src/assets/design/media.scss';

.scheduleCall {
	height: 750px;
	display: flex;
	justify-content: center;

	@include mediumScreen {
		height: 620px;
	}
	@include smallScreen {
		height: 430px;
	}
}

.scheduleCallWrapper {
	text-align: center;
	padding-top: 10rem;
	@include mediumScreen {
		padding-top: 6rem;
	}
	@include smallScreen {
		padding-top: 4rem;
	}
}

.yourFutureText {
	line-height: 5.5rem;
	text-align: center;
	font-size: 6rem;
	font-weight: 700;
	letter-spacing: 2px;
	@include smallScreen {
		font-size: 2.5rem;
		line-height: 2.5rem;
	}
}

.greenText {
	color: $lightGreen;
}

.descriptionText {
	font-weight: 300;
	font-size: 1.5rem;
	line-height: 2.375rem;
	margin-top: 20px;
	@include smallScreen {
		font-size: 1rem;
		line-height: 1.5rem;
	}
}
