@import 'src/assets/design/media.scss';

.services {
	height: 980px;
	@include mediumScreen {
		height: 854px;
	}
	@include smallScreen {
		height: 618px;
	}
	@include phoneScreen {
		height: 590px;
	}
}

.servicesWrapper {
	height: 100%;
	padding-top: 120px;
	padding-bottom: 120px;
	@include mediumScreen {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	@include smallScreen {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}
