// Отступы

@media (min-width: 320px) {
	.header,
	.footer,
	.hero,
	.menu,
	.about,
	.services,
	.scheduleCall {
		padding: 0 16px;
	}
}

@media (min-width: 575.98px) {
	.header,
	.footer,
	.hero,
	.menu,
	.about,
	.services,
	.scheduleCall {
		padding: 0 40px;
	}
}

@media (min-width: 767.98px) {
	.header,
	.footer,
	.hero,
	.menu,
	.about,
	.services,
	.scheduleCall {
		padding: 0 60px;
	}
}

@media (min-width: 991.98px) {
	.header,
	.footer,
	.hero,
	.menu,
	.about,
	.services,
	.scheduleCall {
		padding: 0 80px;
	}
}

@media (min-width: 1119.98px) {
	.header,
	.footer,
	.hero,
	.menu,
	.about,
	.services,
	.scheduleCall {
		padding: 0 100px;
	}
}

@media (min-width: 1319.98px) {
	.header,
	.footer,
	.hero,
	.menu,
	.about,
	.services,
	.scheduleCall {
		padding: 0 120px;
	}
}

// Адаптация
@mixin largeScreen {
	@media screen and (min-width: 992px) and (max-width: 1250px) {
		@content;
	}
}

@mixin transitionalScreen {
	@media screen and (min-width: 992px) and (max-width: 1050px) {
		@content;
	}
}

@mixin mediumScreen {
	@media screen and (max-width: 991px) {
		@content;
	}
}

@mixin smallScreen {
	@media screen and (max-width: 767px) {
		@content;
	}
}

@mixin phoneScreen {
	@media screen and (max-width: 479px) {
		@content;
	}
}
